#container {
    background-color: rgb(234, 234, 234);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator {
    background-color: #323232;
    // border-radius: 0px 0px 10px 10px;
}
#view-area {
    background-color: #000000;
    color: white;
    text-align: right;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    padding: 10px;

    #display {
        font-size: 44px;
        font-weight: bold;
    }

}
#button-area {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width: 280px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: white;
    padding: 5px;
    text-align: center;
    line-height: 60px;
    


}
.button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 5px;
    background-color: #4c4c4c;
}

.num-button {
    

}
.calc-button {
    background-color: #ec7e00;
}

#clear {
    width: 130px;

}
#zero {
    width:130px;
}